<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>mac_m4_pro</name>
  <description>macbook pro m4 Pro (ARM)</description>
  <remoteFS>/Users/yehor/IdeaProjects/docker_project_coffee/ci_cd/volumes/node</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
    <webSocket>false</webSocket>
  </launcher>
  <label>macOS</label>
  <nodeProperties/>
</slave>