<?xml version="1.0" encoding="UTF-8"?>
<suite name="Testng Suite" parallel="tests" thread-count="3">
    <test name="Testng LoginTest">
        <classes>
            <class name="org.yehorychev.functional.LoginTest"/>
        </classes>
    </test>

    <test name="Testng LogoutTest">
        <classes>
            <class name="org.yehorychev.functional.LogoutTest"/>
        </classes>
    </test>

    <test name="Testng AddToCartTest">
        <classes>
            <class name="org.yehorychev.functional.AddToCartTest"/>
        </classes>
    </test>

    <test name="Testng CheckoutTest">
        <classes>
            <class name="org.yehorychev.functional.CheckoutTest"/>
        </classes>
    </test>
</suite>